* {
    box-sizing: border-box;
}

.container {
    background-color: brown;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    font-weight: bold;
    background-color: blue;
    color: white;
    text-align: top right;
}

p {
    position: relative;
    top: 0px;
    right: 0px;
}

.row {
    width: 100%;
}

/* Desktop view */

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        border: 1px solid green;
    }
    .col-lg-4 {
    width: 33%;
    }
}

/* Table view */

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12{
        float: left;
        border: 1px solid green;
    }
    .col-md-6 {
    width: 50%;
    }
    .col-md-12 {
    width: 100%;
    }
}

/* Mobile view */

@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        border: 1px solid green;
    }
    .col-sm-12 {
    width: 100%;
    }
}